@{
    ViewData["Title"] = "Home Page";
}

<div class="quick-access-panel">
    <h2>Быстрый доступ</h2>
    <a class="btn btn-success" href="/Tasks/Create">Создать задачу</a>
    <a class="btn btn-info" href="/Projects">Просмотреть проекты</a>
    <a class="btn btn-warning" href="/Settings">Настройки</a>
</div>

<div class="feedback">
    <h2>Обратная связь и поддержка</h2>
    <p>У вас есть вопросы или предложения? <a href="/Support">Свяжитесь с нами</a></p>
</div>


<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в TaskWave!</h1>
    <p class="lead">Ваш надежный инструмент для управления задачами и проектами.</p>
    <hr class="my-4">
    <p>Чтобы лучше узнать возможности нашего приложения, перейдите по ссылке ниже.</p>
    <a class="btn btn-primary btn-lg" href="/Guide" role="button">Как начать работу</a>
</div>

<div class="external-services">
    <a href="@Url.Action("Index", "Tasks")">Tasks</a> <br />
    <a href="@Url.Action("Index", "Project")">Projects</a>
</div>